
[submodule "zsh/extra_plugins/zsh-syntax-highlighting"]
	path = zsh/extra_plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/extra_plugins/zsh-autosuggestions"]
	path = zsh/extra_plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
